.navbar {
  margin-bottom: 0;
}

#title {
  float: left;
  padding: 15px 15px;
  color: #CCC;
}

///////////////
// ballots_view
///////////////

#ballot-view #panel-left {
  height: 100%;
  position: relative;
}

#ballot-view #panel-left:after {
  background: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}


#ballot-view .data-chart {
  min-height: 400px;
}

#ballot-view .grid {
  font-size: 24px;
  padding: 60px;
}

#ballot-view .grid .grid-cell {
  float: left;
  width: 50%;
  line-height: 1.4em;
  padding: 50px;
}

#ballot-view .grid .grid-value {
  font-size: 96px;
  line-height: 1.4em;
}

#ballot-view .grid .grid-cell:nth-child(1),
#ballot-view .grid .grid-cell:nth-child(3) {
  border-right: 3px solid #777;
}

#ballot-view .grid .grid-cell:nth-child(3),
#ballot-view .grid .grid-cell:nth-child(4) {
  border-top: 3px solid #777;
}


///////////////
// ballots
///////////////

.ballots-list {
  list-style: none;
}

.ballots-list li {
  margin-bottom: 10px;
}
