<div id="ballot-view">
    <div ui-view></div>
    <div class="container-fluid">
        <div class="row">
            <div id="panel-left" class="col-lg-5">
                <div class="data-chart">
                    <div ui-view="ballot.votes"></div>
                </div>
                <div class="data-chart">
                    <div ui-view="ballot.spend"></div>
                </div>
            </div>
            <div id="main" class="col-lg-7">
                <img src="static/map_placeholder.png" />
            </div>
        </div>
    </div>
</div>


