<div id="ballot-view">
    <div class="container-fluid">
        <div class="row">
            <div id="panel-left" class="col-lg-4">
                <div class="data-chart">
                    <div ui-view="ballot.votes"></div>
                </div>
                <div class="data-chart">
                    <div ui-view="ballot.spent"></div>
                </div>
            </div>
            <div id="main" class="col-lg-8">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>


