<div id="hello-world">
  <span id="text" class="lead">{{text}}</span>
  <h2>Contracts</h2>
  <ul class="container-fluid">
    <li class="row-fluid header">
      <span class="col-lg-4">Ballot Measure Committee</span>
      <span class="col-lg-4">Consulting Firm</span>
      <span class="col-lg-4">Payment Received</span>
    </li>

    <li class="row-fluid" ng-repeat="contract in contracts">
      <span class="col-lg-4">{{contract["Ballot Measure Committee"]}}</span>
      <span class="col-lg-4">{{contract["Consulting Firm"]}}</span>
      <span class="col-lg-4">{{contract["Payment Received"]}}</span>
    </li>
  </ul>
</div>
