<div class="grid clearfix">
    <div class="grid-cell spent">
        <div>{{ballot.total_spent}}</div>
        <div>Total spent</div>
    </div>
    <div class="grid-cell committees">
        <div>{{ballot.committees.length}}</div>
        <div>Committees</div>
    </div>
    <div class="grid-cell votes">
        <div>{{ballot.num_yes}}</div>
        <div>Voted yes</div>
    </div>
    <div class="grid-cell donations">
        <div>{{ballot.donation_total}}</div>
        <div>Total raised</div>
    </div>
</div>
