<div id="ballots">
  <span id="text" class="lead">{{text}}</span>
  <h2>Ballots</h2>
  <div class="col-md-5">
  <table>
     <tr>
        <th class="col-lg-4">Title</th>
     	<th class="col-lg-4">Date</th>
     	<th class="col-lg-2">Prop Letter</th>
     	<th class="col-lg-2">Committes Involved</th>
     </tr>
     <tr ng-repeat="ballot in ballots | orderBy:'election.date':true">
         <td>
             <a ui-sref="ballots.index({ballot_id: ballot.id})"><span>{{ballot.name || (ballot | json)}}</span></a>
         </td>
         <td>{{ballot.election.date | date:'yyyy'}}</td>
         <td>{{ballot.prop_id}}</td>
         <td>{{ballot.committees.length}}</td>
     </tr>
  </table>
</div>
  <div class="col-md-5">
	  <img src="static/images/OldBallotProcess.jpg" width="600" height="1965" alt=" Ballot Process">
   </div>
</div>
